$blue-lighter: #80cdf6;
$blue-light  : #5ec0f4;
$blue        : #3db3f2;
$blue-dark   : #109fec;
$blue-darker : #0e8fd4;

$red-darker : #de1212;
$red-dark   : #ed2626;
$red        : #f04747;
$red-light  : #f36868;
$red-lighter: #f58989;

$yellow-darker: #f6c500;
$yellow-dark: #ffcf10;
$yellow: #ffd634;
$yellow-light: #ffde58;
$yellow-lighter: #ffe57b;

$green-darker : #56b62d;
$green-dark   : #65ce38;
$green        : #7bd555;
$green-light  : #91dc71;
$green-lighter: #a8e38e;

$pink-darker : #de203f;
$pink-dark   : #e43e59;
$pink        : #e85d74;
$pink-light  : #ec7c8f;
$pink-lighter: #f19baa;

$black: #000000;
$black-light: #181818;
$black-lighter: #212121;
$black-lightest: #444444;

$gray-darkest: #666666;
$gray-darker: #7c7c7c;
$gray-dark: #939393;
$gray: #aaaaaa;
$gray-light: #c1c1c1;
$gray-lighter: #d8d8d8;

$white: #ffffff;

// additional colors for tags
$turquoise: #00d1b2;
$orange: #ffbc6b;
$peach: #ffb3b3;