@import './colors';

// colors

$primary-lighter: $blue-lighter;
$primary-light:   $blue-light;
$primary:         $blue;
$primary-dark:    $blue-dark;
$primary-darker:  $blue-darker;

$danger-darker : $red-darker;
$danger-dark   : $red-dark;
$danger        : $red;
$danger-light  : $red-light;
$danger-lighter: $red-lighter;

$warning-darker : $yellow-darker;
$warning-dark   : $yellow-dark;
$warning        : $yellow;
$warning-light  : $yellow-light;
$warning-lighter: $yellow-lighter;

$success-darker : $green-darker;
$success-dark   : $green-dark;
$success        : $green;
$success-light  : $green-light;
$success-lighter: $green-lighter;

$love-darker : $pink-darker;
$love-dark   : $pink-dark;
$love        : $pink;
$love-light  : $pink-light;
$love-lighter: $pink-lighter;

$background: $black-light;
$foreground: $black-lighter;

$text-primary: $white;
$text-secondary: $gray;
$text-white: $white;
$text-black: $black-light;

$border: $gray-darkest;

$tag-turquoise: $turquoise;
$tag-orange: $orange;
$tag-peach: $peach;

// sizes

$button-border-radius: 2px;
$button-padding-x: 16px;
$button-padding-y: 8px;

$input-border-radius: 2px;
$input-padding: 8px;

$tag-border-radius: 2px;
$tag-padding-x: 8px;
$tag-padding-y: 4px;